.personal {
  padding: 30px 10px 20px;
  display: flex;
  box-sizing: border-box;
}

.personal .left {
  width: 200px;
}

.personal .left dt {
  font: 900 20px "";
  padding: 10px 5px;
  border-bottom: solid 1px #ccc;
}

.personal .left dd {
  padding: 5px 5px;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
}

.personal .left dd span {
  display: block;
  padding-left: 10px;
  margin: 10px 0;
  font: 14px "";
  color: #333;
}

.personal .left dd span:hover {
  color: #f40;
  border-left: solid 2px #f40;
  text-decoration: underline;
}

.personal .right {
  flex: 1;
  margin-left: 30px;
}

.personal .right h3 {
  font: 900 20px "";
  padding: 10px 5px;
  border-bottom: solid 1px #ccc;
}

.personal .right .cont {
  padding: 20px;
}

.personal .right .cont .mess {
  border-bottom: solid 1px #ccc;
}

.personal .right .cont .mess img {
  float: left;
  width: 166px;
  height: 166px;
}

.personal .right .cont .mess span {
  float: left;
  width: 200px;
  padding: 5px;
  font: 12px/20px "";
}

.personal .right .cont .mess .name {
  float: left;
  font: 900 16px "";
  width: 500px;
  margin-top: 10px;
}

.personal .right .cont .contact {
  margin-top: 40px;
}

.personal .right .cont .contact span {
  margin: 0 10px;
  display: flex;
}

.personal .right .cont .contact span i {
  font-size: 30px;
}

.personal .right .cont .contact span i.t1 {
  color: limegreen;
}

.personal .right .cont .contact span i.t2 {
  color: #007BFF;
}

.personal .right .cont .contact span i.t3 {
  color: #FF0000;
}

.personal .right .cont .contact span i.t4 {
  color: #0f0900;
}

.personal .right .cont .contact span b {
  font: 14px/30px "";
  padding-left: 10px;
}

.personal .right .cont .contact span b:hover {
  color: red;
  text-decoration: underline;
}

#like .margin>li {
  margin-bottom: 30px;
}

#like .margin>li h3 {
  font-size: 20px;
  padding: 14px 0 14px 10px;
}

#like .margin>li ul li a {
  display: block;
  width: 204px;
  height: 304px;
  margin: 0 6px;
  border: solid 1px #ccc;
}

#like .margin>li ul li a img {
  width: 204px;
  height: 204px;
}

#like .margin>li ul li a .name {
  padding: 0 8px;
  font: 12px/16px "";
  height: 32px;
  overflow: hidden;
}

#like .margin>li ul li a .name:hover {
  text-decoration: underline;
}

#like .margin>li ul li a .price {
  margin: 6px 0;
  font-size: 18px;
  padding-left: 8px;
  color: red;
}

#like .margin>li ul li a .pingjia {
  padding-left: 8px;
}

#like .margin>li ul li a .pingjia:hover {
  text-decoration: underline;
}
