<aside class="indexleft">
    <dl>
      <dt>
        <a href="#">
          <span>满88包邮</span>
          <p>部分地区除外</p>
        </a>
      </dt>
      <dd class="st1">今日限时购</dd>
      <dd>
        <ul class="floor">
          <li>母婴专区</li>
          <li >美容彩妆</li>
          <li >服饰鞋包</li>
          <li >家居个护</li>
          <li >营养保健</li>
          <li >数码家电</li>
          <li >运动户外</li>
          <li >数码家电</li>
          <li >运动户外</li>
          <li >运动户外</li>
          <li><img src="images/main/main-up/first_floor/izgqdo7f9_99_128.jpg"/></li>
        </ul>
      </dd>
    </dl>
  </aside>
